@page "/todo"

<h3>Невыполненные задачи (@todos.Count(todo => !todo.IsDone))</h3>

<ul>
    @foreach (var todo in todos)
    {
        <li>
            <style> li {list-style-type: none;}</style>
            <input type="checkbox" @bind="todo.IsDone" />
            <input @bind="todo.Title" />
            <button type="button" class="btn btn-danger" @onclick =" () => DelToDo(todo.id)">Удалить задачу</button>
        </li>
    }
</ul>

<input placeholder="Сделать что-то" @bind="newTodo" />
<button type="button" class="btn btn-success" @onclick = "AddTodo">Добавить задачу</button>

@code {
    private IList<TodoItem> todos = new List<TodoItem>();
        private string newTodo;
        private int todo_id = 0;
    private void AddTodo()
    {
        // Добавление задачи
        if (!string.IsNullOrWhiteSpace(newTodo))
        {
            todos.Add(new TodoItem { id = todo_id++, Title = newTodo });
            newTodo = string.Empty;
        }
    }

        void DelToDo(int id)
    {
        //Удаление задачи по id
        todos.Remove(todos.FirstOrDefault(i => i.id == id));
    } 
}
